<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI RESTAURANT</title>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/food_list.css">
</head>

<body>

<div class="restaurant-page">
  <!-- 헤더 -->
   <th:block th:include="main/header"></th:block>
  <!-- 홈 -->
<th:block th:include="${main_html}"></th:block>
  <!-- 푸터 -->
  <th:block th:include="main/footer"></th:block>
</div>

</body>
</html>
